.icon-dashboard-burger { background-image: url('png/dashboard-burger.png'); background-repeat: no-repeat; }

.icon-dropdown-arrow { background-image: url('png/dropdown-arrow.png'); background-repeat: no-repeat; }

.icon-list-sort-search { background-image: url('png/list-sort-search.png'); background-repeat: no-repeat; }

.icon-log-out { background-image: url('png/log-out.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

